* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --background-color: #2b2f33;
  --content: #484c4f;
  --text: #a3acad;
  --operands: #4a335d;
  --equals: #8f28e1;
  --clear: #f8b62f;
  --specialChar: #4b433b;
  --specialCharText: #967f4f;
  --numbersBg: #404145;
  --calcBgTop: #464b4b;
  --calcBgBottom: #1d2125;
}

body {
  background-color: var(--background-color);
}

.calculator {
  border-radius: 20px;
  padding: 1.5em;
  width: 300px;
  margin: 3em auto 0;
  height: 85vh;
  background-image: linear-gradient(
    to bottom,
    var(--calcBgTop),
    var(--calcBgBottom)
  );
  color: white;
  overflow: hidden;
  box-shadow: 1px 2px 20px 0px black;
}
/* .cal-inputs {
} */

.input {
  /* padding: 4em; */
  position: relative;
  width: 100%;
  height: 150px;
  color: var(--text);
}

.input span {
  position: absolute;
  bottom: 20px;
  right: 10px;
  font-size: 30px;
  font-weight: 500;
}
.cal-buttons {
  /* border: 1px solid; */
  display: flex;
  width: 100%;
}

.cal-buttons button:active {
  transform: translateY(0.15em);
  box-shadow: -1px 0px 5px black;
  transition: 0.1s;
}

.numbers {
  /* border: 1px solid; */
  /* padding: 10px; */
  width: 100%;
  /* height: 350px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 5px; */
}

.operbtn {
  background-color: var(--operands);
}

.button {
  /* padding: 10px 15px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* outline:2px solid var(--background-color); */
  border: 0px solid;
  /* background-color: var(--numbersBg); */
  box-shadow: 1px 2px 5px 0px black;
  cursor: pointer;
  transition: 0.1s;
  color: var(--text);
  margin-bottom: 5px;
  text-align: center;
  font-size: 15px;
  z-index: 1;
}

i .fa {
  z-index: -1;
}

.is-depressed {
  background-color: #4a335d54;
}
.numberBg {
  background-color: var(--numbersBg);
}

.clear {
  background-color: var(--clear);
  color: #fff;
}
.back {
  background-color: transparent;
  color: #4a4b4e;
}
.specialChar {
  background-color: var(--specialChar);
  color: var(--specialCharText);
}
.equalto {
  height: 103px;
  grid-column: -2;
  grid-row: 5 / span 3;
  border-radius: 20px;
  background-color: var(--equals);
}
